<div class="container my-2">
  <div>
    <div class="jumbotron">
      <h1 class="display-3">Hỗ Trợ Đánh Giá</h1>
      <p class="lead">Trang web vẫn còn đang trong quá trình hoàn thiện và có nhiều thiếu soát, hãy
        nhấn vào nút phía dưới để đánh giá để nâng cao trải nghiệm của chính bạn trong tương lai.
      </p>
      <hr class="my-2">
      <p class="lead">
        <a class="btn btn-primary btn-lg"
         href="https://docs.google.com/forms/d/e/1FAIpQLScTnRSl60RKJU-GzM_GI2OqfRP1u1Y5p7STFKjf0eamH1tV0Q/viewform" 
         role="button">Đi Đến Khảo Sát</a>
      </p>
    </div>
    <div class="row">
      <div class="col-lg-6">
          <h4>Tại sao nên sử dụng:</h4>
          <ul>
              <li>
                Có thể tăng hiệu suất của một tấm ảnh khi phóng to, những tấm ảnh phóng to vẫn giữ
                được những điểm quan trọng mà không bị vỡ hay mờ như những cách phóng to thông thường.
              </li>
              <li>
                Trang web giao diện thân thiện và dễ dàng sử dụng.
              </li>
              <li>
                Không giới hạn số lần hay người sử dụng, không quảng cáo.
              </li>
              <li>Hoàn toàn miễn phí.</li>
          </ul>
      </div>
      <div class="col-lg-6">
          <h4>Về mặc hạn chế:</h4>
          <ul>
              <li>Vì kinh phí hạn chế nên trang web không thế cung cấp một cấu hình server khủng để xử lý,
                Google Cloud cung cấp một cấu hình giới hạn và khiêm tốn đủ để xử lý những tấm ảnh có kích thước
                từ 500x400 trở xuống.
              </li>
              <li>Chỉ có thể nhân đôi kích thước ảnh đầu vào.</li>
              <li>Tốc độ xử lý không nhanh vì phần cứng khá yếu.</li>
          </ul>
      </div>
    </div>
  </div>
</div>