<div class="container-fluid my-nav">
    <ul class="nav justify-content-center text-white">
        <li class="nav-item">
            <a routerLink="/home" class="nav-link" href="#" routerLinkActive="active">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a routerLink="/helps" class="nav-link" href="#" routerLinkActive="active">Hỗ Trợ</a>
        </li>
        <li class="nav-item">
            <a routerLink="/contact" class="nav-link" href="#" routerLinkActive="active">Thông tin</a>
        </li>
    </ul>
    <div class="row">
  
      <div class="col-lg-3 col-md-3 col-sm-3 col-12">
        <div class="logo">
            <img src="./assets/logo.jpg" alt="logo">
        </div>
      </div>
  
      <div class="col-lg-6 col-md-9 col-sm-9 col-12">
        <div class="title">
            <p>CẢI THIỆN CHẤT LƯỢNG ẢNH</p>
        </div>
      </div>
  
      <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="name">
            <p>NGUYỄN ĐĂNG KHOA | 14SE111</p>
            <a href="https://www.facebook.com/dangkhoa061096"><i class="fab fa-facebook-square"></i></a>
        </div>
      </div>
       
    </div>
  </div>