@media screen and (max-width: 992px) {
    .footer{
        position: relative!important;
    }
}

.footer{
    position: absolute;
    bottom: 0;
    background:#005CA8;
    height:16px;
    width: 100%;
    padding-top:25px;
    padding-bottom: 45px;
}
