<div class="container my-5 text-center">
  <div class="row">
    <div class="col-lg-5 col-md-5">
        <div class="card">
          <div class="card-header">
            Thông tin tác giả
          </div>
          <div class="card-body">
            <img src="../../assets/admin.jpg" class="card-img" style="width:200px">
            <h4 class="card-title"><span class="text-muted">Họ Tên:</span> Nguyễn Đăng Khoa</h4>
            <p class="card-text"><span class="text-muted">MSSV:</span> 114001252</p>
            <p class="card-text"><span class="text-muted">Lớp: </span>14SE111</p>
            <p class="card-text"><span class="text-muted">Ngày Sinh: </span>06/09/1996</p>
            <p class="card-text"><span class="text-muted">SĐT: </span>0966609019</p>
          </div>
          <div class="card-footer text-muted">
            Email: <a href="mailto:dangkhoasn@gmail.com">dangkhoasn@gmail.com</a>
          </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7">
      <div class="card">
        <div class="card-header">
          Các công nghệ tạo nên trang Web này
        </div>
        <div class="card-body">
            <div class="card-columns">
                <div class="card">
                  <img class="card-img-top" src="../../assets/angular.png" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Angular 6</h4>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="../../assets/flask.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Flask</h4>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="../../assets/gcloud.png" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Gcloud</h4>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="../../assets/keras.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Keras</h4>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="../../assets/tf.jpg" alt="">
                  <div class="card-body">
                    <h4 class="card-title">Tensorflow</h4>
                  </div>
                </div>
                <div class="card">
                  <img class="card-img-top" src="../../assets/opencv.png" alt="">
                  <div class="card-body">
                    <h4 class="card-title">OpenCV</h4>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>